
header{
    display: flex;
    flex-wrap: wrap;

}


header h3 {
    width: 50%;
}

header p {
    width: 50%;
    display: flex;
    justify-content: end;
}

.hide{
    display: none;

}

#intro-section, #question-section, #initial-section, #Highscore-section{
    text-align: center;
}

#question-section ul{
    list-style: none;
}

#start-btn{
   background-color: blueviolet; 
}

.choices{
    background-color: blueviolet;
}

#go-back-btn{
    background-color: blueviolet;
}

